.Box {
  width: 505px;
  height: 263px;
  border: 2px solid white;
  border-radius: 50px;
  text-align: center;
  height: 20em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;

  /* margin-bottom: 10px; */
}
